<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productServlet</servlet-name>
        <servlet-class>Servlets.productServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productEditServlet</servlet-name>
        <servlet-class>Servlets.productEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>producteditServlet</servlet-name>
        <servlet-class>Servlets.producteditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productdelServlet</servlet-name>
        <servlet-class>Servlets.productdelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productcreateServlet</servlet-name>
        <servlet-class>Servlets.productcreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>producteditServlet</servlet-name>
        <url-pattern>/producteditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productdelServlet</servlet-name>
        <url-pattern>/productdelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productcreateServlet</servlet-name>
        <url-pattern>/productcreateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
